<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />

  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="server=.; database=FormBuilder; Trusted_Connection=True" providerName="System.Data.SqlClient" />
   <!--<add name="MSrvMainEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=84.241.6.94,7733;initial catalog=MSrvMain;user id=sa; password=1qaz!QAZ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
  <add name="MSrvTxnEntities" connectionString="metadata=res://*/MSrvTxn.csdl|res://*/MSrvTxn.ssdl|res://*/MSrvTxn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=84.241.6.94,7733;initial catalog=MSrvTxn;user id=sa;password=1qaz!QAZ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <!--<add name="MSrvTxnEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MSrvTxn2;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MSrvMainEntities"
           providerName="System.Data.SqlClient"
           connectionString="Server=.;Database=MSrvMain2;&#xD;&#xA;        Integrated Security=True;"
                                  />

    <add name="MSrvTxnEntities"
       providerName="System.Data.SqlClient"
       connectionString="Server=.;Database=MSrvTxn2;&#xD;&#xA;        Integrated Security=True;"
                                  />
    <!--<add name="MSrvMainEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MSrvMain2;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Logs\operationManagement\bko.txt"/>
      <DatePattern value="yyyy-MM-dd\\\\'General.log'"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <maximumFileSize value="10000KB"/>
      <staticLogFileName value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd HH:mm:ss} – %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      ALL
      DEBUG
      INFO
      WARN
      ERROR
      FATAL
      <!-- OFF-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMonitorinSrv" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http:///Monitoring" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMonitorinSrv" contract="MonitoringSrv.IMonitorinSrv"
        name="BasicHttpBinding_IMonitorinSrv" />
    </client>
  </system.serviceModel>
</configuration>